<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>header}}
    <div class="container-about">
        <div class="skill-box">
            <div class="titles">
                <h2>Frontend</h2>
            </div>
            <hr>
            <div class="lists">
                <li>HTML</li>
                <li>CSS</li>
                <li>Flutter</li>
            </div>
        </div>
        <div class="skill-box">
            <div class="titles">
                <h2>Backend</h2>
            </div>
            <hr>
            <div class="lists">
                <li>PHP</li>
                <li>Node.js</li>
            </div>
        </div>
        <div class="skill-box">
            <div class="titles">
                <h2>Tools</h2>
            </div>
            <hr>
            <div class="lists">
                <li>Git and github</li>
            </div>
        </div>
    </div>
    {{>skillsets}}
</body>

</html>