<div class="navBar">
    <div class="pg-title">
        {{title}}
    </div>
    <div class='menus'>
        <ul>
            <li>Home</li>
        </ul>
        <ul>
            <li>About</li>
        </ul>
        <ul>
            <li>Projects</li>
        </ul>
        <ul>
            <li>Contacts</li>
        </ul>
    </div>

</div>